.additional__wrapper {
  padding: 0 20px;
  padding-top: 31px;
  padding-bottom: 39px;

  overflow: hidden;
}

.additional__header {
  position: relative;

  padding-bottom: 30px;

  border-bottom: 1px solid #cdcdcd;

  &::after {
    position: absolute;
    top: 12px;
    left: 0;

    width: 100vw;
    height: 3px;

    content: "";
    background-color: #68b738;
  }
}

.additional__title {
  position: relative;
  z-index: 1;

  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 23px;

  font-size: 24px;
  font-weight: normal;
  line-height: 24px;


  background-color: #ffffff;
}

.additional__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.additional__item {
  padding-top: 14px;
  padding-bottom: 17px;

  border-bottom: 1px solid #cdcdcd;
}

.additional__subtitle {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional__description {
  display: flex;
  justify-content: space-between;

  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 16px;
}

.additional__button {
  display: block;
  margin: 0 auto;

  text-align: center;
  text-decoration: none;
}

@media (min-width: 768px) {
  .additional {
    margin-bottom: 69px;
  }

  .additional__wrapper {
    padding: 0 30px;
  }

  .additional__header {
    padding-bottom: 75px;

    border-bottom: none;
  }

  .additional__title {
    padding: 0 37px;

    font-size: 36px;

    &::before {
      position: absolute;
      top: 12px;
      left: -30px;

      width: 30px;
      height: 3px;

      content: "";
      background-color: #68b738;
    }
  }

  .additional__item {
    padding: 27px 38px;

    border: 1px solid #cdcdcd;

    &:not(:first-child) {
      border-top: none;
    }
  }

  .additional__descriptions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 28px;
  }

  .additional__subtitle {
    font-size: 20px;
    line-height: 20px;
  }

  .additional__description {
    font-size: 16px;
  }

  .additional__boxing {
    margin: 0;
    margin-right: 50px;
  }

  .additional__cost {
    margin: 0;
  }
}
