.additionally {
  margin: 0;
  margin-bottom: 11px;
  padding: 0 20px;

  border: none;

  overflow: hidden;
}

.additionally__header {
  position: relative;

  margin-bottom: 32px;

  &::after {
    position: absolute;
    top: 12px;
    left: 0;

    width: 100vw;
    height: 3px;

    content: "";
    background-color: #68b738;
  }
}

.additionally__title {
  position: relative;
  z-index: 1;

  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 24px;

  font-size: 24px;
  font-weight: normal;
  line-height: 24px;

  background-color: #ffffff;
}

.additionally__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.additionally__item {
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 18px;
}

.additionally__label {
  position: relative;

  display: block;
  padding-left: 41px;
}

.additionally__input {
  position: absolute;

  opacity: 0;
}

.additionally__checkmark {
  position: absolute;
  top: 50%;
  left: 0;

  height: 30px;
  width: 30px;

  border: 1px solid #d1d1d1;

  transform: translateY(-50%);
}

.additionally__label:hover .additionally__input ~ .additionally__checkmark {
  border-color: #bcbcbc;
}

.additionally__checkmark::after {
  position: absolute;
  content: "";

  display: none;
}

.additionally__label .additionally__input:checked ~ .additionally__checkmark::after {
  display: block;
}

.additionally__label:active .additionally__input ~ .additionally__checkmark {
  opacity: 0.3;
}

.additionally__label .additionally__checkmark::after {
  top: 50%;
  left: 5px;

  width: 21px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;

  transform: translateY(-50%);
}
