.additional {
  margin-bottom: 39px;
}

.additional__wrapper {
  overflow: hidden;
}

.additional__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 17px;

  border-bottom: 1px solid $color-input-hvr;

  &:first-child {
    border-top: 1px solid $color-input-hvr;
  }
}

.additional__subtitle {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional__description {
  display: flex;
  justify-content: space-between;
  margin: 0;

  font-family: $font-default;
  line-height: 16px;
}

.additional__boxing {
  margin-top: 12px;
}

.additional__cost {
  margin-top: 12px;
}

.additional__button {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 10px;

  text-align: center;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .additional {
    margin-bottom: 69px;
  }

  .additional__item {
    padding: 26px 36px;
    padding-bottom: 26px;

    border: 1px solid $color-input-hvr;

    &:not(:first-child) {
      border-top: none;
    }
  }

  .additional__descriptions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 23px;
  }

  .additional__subtitle {
    font-size: 20px;
    line-height: 20px;
  }

  .additional__description {
    font-size: 16px;
  }

  .additional__boxing {
    margin: 0;
  }

  .additional__cost {
    min-width: 95px;
    margin: 0;

    text-align: right;
  }

  .additional__button {
    padding-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    min-width: 895px;
    width: 73.36%;
    margin: 0;
  }

  .additional__item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 0;
    padding-bottom: 16px;

    border-left: none;
    border-right: none;
  }

  .additional__button {
    margin: 0;
    padding: 10px 0;

    font-size: 16px;
  }

  .additional__descriptions {
    min-width: 610px;
    width: 68.45%;
    margin: 0;
    padding-top: 2px;
  }

  .additional__subtitle {
    width: 41.16%;
  }

  .additional__description {
    width: 46.72%;
  }

  .additional__cost {
    min-width: 43px;

    text-align: left;
  }
}
