.catalog {
  margin-bottom: 28px;
}

.catalog__title {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 28px;
  padding-left: 20px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;

  border-bottom: 1px solid $color-block-bb;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $color-block-bb;

  &:last-child {
    flex-direction: column;
    padding-top: 26px;
  }
}

.catalog__subtitle {
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 0;

  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 23px;

  fill: $color-plus;
}

.catalog__text-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 22px;
}

.catalog__text {
  margin: 0;
  padding: 0;

  font-family: $font-default;
  font-size: 12px;
  line-height: 16px;
}

.catalog__button--all {
  margin: 0 auto;

  color: #444444;

  background-color: $color-btn-all;

  &:hover {
    background-color: $color-btn-all-act;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.catalog__img {
  width: 140px;
  align-self: flex-start;

  border: 0;
}

.catalog__link {
  font-size: 0;
}

.catalog__button {
  width: 100%;
  align-self: center;
  padding-top: 11px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 65px;
  }

  .catalog__wrapper {
    padding: 0 30px;
  }

  .catalog__title {
    margin-bottom: 136px;
    padding-left: 0;
    padding-top: 27px;

    font-size: 60px;

    border-bottom: none;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    position: relative;

    flex-direction: column;
    justify-content: flex-start;
    width: 45.76%;
    margin-bottom: 140px;
    padding: 0 36px;
    padding-top: 165px;
    padding-bottom: 39px;

    background-color: $color-bg-gray;

    border-bottom: none;
    box-sizing: border-box;

    &:last-child {
      justify-content: flex-start;
      margin-bottom: 0;
      padding-top: 55px;
      background-color: $color-bg-default;

      border: 1px solid $color-block-bb;
    }

    &:nth-child(7) {
      margin-bottom: 0;
    }
  }

  .catalog__img {
    position: absolute;
    bottom: 305px;
    left: 50%;

    width: 314px;

    transform: translateX(-50%);
  }

  .catalog__img--small {
    min-height: 172px;
  }

  .catalog__img--big {
    min-height: 208px;
  }

  .catalog__button {
    min-width: 248px;
    width: 98.85%;
    padding-bottom: 12px;
  }

  .catalog__button--all {
    padding: 11px 0;
  }

  .catalog__subtitle {
    width: 175px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 20px;
    text-align: center;
  }

  .catalog__icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 49px;
  }

  .catalog__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 22px;
  }

  .catalog__text {
    font-size: 16px;
    text-align: center;
  }

  .catalog__text--first {
    margin-bottom: 3px;
  }

  .catalog__text--second {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 15px;
    margin-bottom: 75px;
    padding: 0 40px;
  }

  .catalog__title {
    margin-bottom: 137px;
    padding-top: 22px;
  }

  .catalog__wrapper {
    padding: 0;
  }

  .catalog__item {
    min-width: 245px;
    width: 20.08%;
    margin-bottom: 143px;
    padding: 0 38px;
    padding-bottom: 40px;
    padding-top: 164px;

    &:nth-child(n+5) {
      margin-bottom: 0;
      padding-bottom: 40px;
    }
  }

  .catalog__item:nth-child(n+5) .catalog__img {
    bottom: 306px;
  }

  .catalog__button {
    min-width: 169px;
    padding: 10px 0;
    padding-bottom: 10px;

    font-size: 16px;
  }

  .catalog__button--all {
    padding-top: 8px;
  }

  .catalog__text-wrapper {
    margin-bottom: 23px;
  }

  .catalog__text {
    width: 100%;
  }

  .catalog__icon {
    margin-bottom: 47px;
  }
}
