.comment {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 20px;
  padding-left: 19px;

  border: none;

  overflow: hidden;
}

.comment__header {
  position: relative;

  margin-bottom: 34px;

  &::after {
    position: absolute;
    top: 14px;
    left: 0;

    width: 100vw;
    height: 3px;

    content: "";
    background-color: $color-header;
  }
}

.comment__title {
  position: relative;
  z-index: 1;

  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 22px;

  font-size: 24px;
  font-weight: normal;
  line-height: 24px;

  background-color: $color-bg-default;
}

.comment__textarea {
  width: 100%;
  margin: 0;
  padding: 13px;
  padding-left: 14px;
  padding-bottom: 9px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border-color: $color-input;
  box-sizing: border-box;

  resize: none;
}

.comment__field {
  padding-left: 1px;
}

@media (min-width: $tablet-width) {
  .comment {
    margin-bottom: 63px;
    padding: 0 30px;
  }

  .comment__header {
    margin-bottom: 76px;

    &::after {
      top: 22px;
    }

    &::before {
      position: absolute;
      top: 22px;
      left: -30px;

      width: 30px;
      height: 3px;

      content: "";
      background-color: $color-header;
    }
  }

  .comment__title {
    padding: 0 39px;

    font-size: 36px;
    line-height: 36px;
  }

  .comment__field {
    padding: 0 40px;
    padding-right: 37px;
  }

  .comment__textarea {
    padding: 16px;
    padding-left: 18px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    margin-bottom: 66px;
    padding: 0;
  }

  .comment__wrap {
    max-width: 1300px;
    margin: 0 auto;
  }

  .comment__header {
    margin-bottom: 75px;

    &::after {
      top: 21px;
    }

    &::before {
      top: 21px;
      left: -70px;

      width: 100vw;
      margin-left: -100%;
    }
  }

  .comment__field {
    padding: 0 40px;
  }
}
