.copyrights__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.copyrights__link--text {
  font-family: $font-default;
  font-size: 16px;
  color: $color-font;

  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyrights__icon {
  margin-left: auto;
}
