.data {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;

  border: none;
  border-bottom: 1px solid $color-block-bb;
}

.data__list {
  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.data__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.data__label {
  margin-right: 16px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.data__input {
  flex-grow: 1;
  padding: 15px 0;
  padding-left: 16px;

  font-size: 16px;
  line-height: 18px;

  border: 1px solid $color-input;
  outline: none;

  &::placeholder {
    color: $color-input-act;
  }

  &:hover {
    border-color: $color-input-hvr;
  }

  &:focus {
    border-color: $color-input-act;
  }

  &:invalid:not(:empty) {
    border-color: $color-input-err;
  }

  &:invalid:focus {
    border-color: $color-input-err;
  }
}

@media (min-width: $tablet-width) {
  .data {
    margin-bottom: 72px;
    padding: 0 30px;

    border-bottom: none;
  }

  .data__list {
    padding: 0 40px;
  }

  .data__item {
    margin-bottom: 20px;
  }

  .data__label {
    font-size: 20px;
    line-height: 20px;
  }

  .data__input {
    padding: 17px 0;
    padding-left: 20px;

    font-size: 20px;
    line-height: 20px;
  }
}
