.description {
  align-self: center;
}

.description__list {
  min-width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.description__subtitle {
  width: 80px;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;

  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.description__item {
  display: flex;
  justify-content: space-between;

  font-family: $font-default;
  font-size: 12px;
  line-height: 16px;
}

.description__subheading {
  margin: 0;
  padding: 0;
}

.description__value {
  margin: 0;
  padding: 0;
}

.description__link {
  color: $color-font;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .description {
    width: 100%;
  }

  .description__subtitle {
    width: 134px;
    margin: 0 auto;
    margin-bottom: 26px;

    font-size: 20px;
    line-height: 20px;

    text-align: center;
  }

  .description__item {
    margin-bottom: 9px;
    padding-bottom: 6px;

    font-size: 16px;

    border-bottom: 1px solid #cdcdcd;

    &:last-child {
      margin-bottom: 33px;
    }
  }
}

@media (min-width: $desktop-width) {
  .description__item:last-child {
    margin-bottom: 33px;
  }

  .description__item {
    margin-bottom: 8px;
    padding-bottom: 7px;
  }
}
