.example {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 35px;

  background-color: $color-bg-gray;
}

.example__header {
  margin-bottom: 25px;
  padding: 0 20px;
}

.example__wrapper {
  margin-bottom: 35px;
  padding: 0 20px;
}

.example__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}

.example__description {
  width: 99%;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-family: $font-default;
  line-height: 18px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  list-style: none;
}

.example__item {
  position: relative;

  min-width: 124px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.example__item--weight {
  padding-top: 13px;
  padding-bottom: 18px;

  &::after {
    position: absolute;
    left: 50%;
    bottom: -25%;
    transform: translate(-50%);

    content: "снижение веса";

    width: 82px;

    font-family: $font-default;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;

    background-color: $color-bg-gray;
  }
}

.example__item--days {
  padding-top: 13px;
  padding-bottom: 15px;

  &::after {
    position: absolute;
    left: 50%;
    bottom: -25%;
    transform: translate(-50%);

    content: "затрачено времени";

    width: 82px;

    font-family: $font-default;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;

    background-color: $color-bg-gray;
  }
}

.example__cost {
  width: 192px;
  margin: 0 auto;

  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__text {
  display: inline-block;
  margin: 0;
}

.example__expenses {
  display: inline-block;
  margin: 0;
}

.example__comparison {
  position: relative;

  width: 320px;
  min-height: 240px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.example__picture {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  margin: 0 auto;
  margin-bottom: 35px;
}

.example__picture--before {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateX(0);
}

.example__picture--show {
  display: block;
}

.example__toggle {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 15px;
}

.example__button {
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  border: none;
  background: transparent;

  &--active {
    border-bottom: 1px dotted #989898;
  }

  &:hover {
    border-bottom: 1px solid #989898;
  }
}

.example__button--before {
  margin-right: 18px;
}

.example__button--after {
  margin-left: 18px;
}

.example__slider {
  display: inline-block;
  width: 84px;
  height: 14px;
  padding: 0 5px;
  margin: 0;

  vertical-align: middle;

  background: $color-bg-default;

  border: 1px solid #cdcdcd;
  border-radius: 7px;
  outline: none;

  appearance: none;
  transition: 0.2s;

  box-sizing: border-box;
}

.example__slider::-webkit-slider-thumb {
  appearance: none;
  width: 35px;
  height: 6px;

  background: $color-slider-mobile;
  border-radius: 4px;

  cursor: pointer;
}

.example__slider::-moz-range-thumb {
  width: 35px;
  height: 6px;

  background: $color-slider-mobile;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 45px;
    padding-bottom: 0;

    background-color: $color-bg-default;
  }

  .example__wrapper {
    padding: 0 30px;
  }

  .example__header {
    margin-bottom: 65px;
    padding: 0 30px;
  }

  .example__title {
    font-size: 60px;
  }

  .example__description {
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__eg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 255px;
  }

  .example__list {
    width: 52%;
    margin-bottom: 0;
  }

  .example__item {
    min-width: 162px;

    font-size: 30px;
    line-height: 37px;

    &--days {
      padding-top: 18px;
      padding-bottom: 6px;

      &::after {
        bottom: -7px;

        min-width: 142px;

        font-size: 14px;
        line-height: 14px;

        background-color: $color-bg-default;
      }
    }

    &--weight {
      padding-top: 18px;
      padding-bottom: 17px;

      &::after {
        bottom: -7px;

        min-width: 115px;

        font-size: 14px;
        line-height: 14px;

        background-color: $color-bg-default;
      }
    }
  }

  .example__cost {
    display: flex;
    align-items: flex-end;
    align-self: center;
    flex-direction: column;
    margin: 0;
    padding-top: 2px;

    font-size: 20px;
  }

  .example__text {
    margin-bottom: 10px;
  }

  .example__cats {
    position: relative;

    min-height: 462px;
    padding-top: 344px;

    background-color: #eaeaea;

    box-sizing: border-box;
  }

  .example__comparison {
    position: absolute;
    top: -163px;
    left: 50%;

    min-width: 677px;

    transform: translateX(-49.5%);
  }

  .example__picture--before {
    top: 0;
  }

  .example__toggle {
    padding: 0;
  }

  .example__slider-wrapper {
    width: 432px;
  }

  .example__button {
    padding-bottom: 6px;
    align-self: center;

    font-size: 20px;
  }

  .example__slider {
    width: 100%;
    height: 50px;
    margin: 12px 0;
    padding: 0;

    background: transparent;

    border: none;
  }

  .example__button--before {
    margin-right: 21px;
  }

  .example__button--after {
    margin-left: 21px;
  }

  .example__slider:focus {
    outline: none;
  }

  .example__slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;

    background: #dcdcdc;
    border-radius: 3px;

    cursor: pointer;
  }

  .example__slider::-webkit-slider-thumb {
    width: 34px;
    height: 34px;
    margin-top: -14px;

    border: 1px solid #cfcfcf;
    border-radius: 50%;

    background-color: $color-bg-default;
    background-image: url("../img/decorative/slider-control.png");
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 2px 2px rgba(13, 13, 13, 0.15);
    }

    &:active {
      border: 1px solid #68b738;
    }
  }

  .example__slider::-moz-range-track {
    width: 100%;
    height: 6px;

    box-shadow: 0 0 1.1px rgba(0, 16, 0, 0), 0 0 0 rgba(0, 42, 0, 0);
    background: #dcdcdc;
    border-radius: 3px;

    cursor: pointer;
  }

  .example__slider::-moz-range-thumb {
    width: 34px;
    height: 34px;

    border: 1px solid #cfcfcf;
    border-radius: 50%;

    background-color: $color-bg-default;
    background-image: url("../img/decorative/slider-control.png");
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 2px 2px rgba(13, 13, 13, 0.15);
    }

    &:active {
      border: 1px solid #68b738;
    }
  }

  .example__slider::-ms-track {
    width: 100%;
    height: 6px;

    background: transparent;
    color: transparent;
    border-color: transparent;

    cursor: pointer;
  }

  .example__slider::-ms-fill-lower {
    background: #dcdcdc;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 5px;

    box-shadow: 0 0 1.1px rgba(0, 16, 0, 0), 0 0 0 rgba(0, 42, 0, 0);
  }

  .example__slider::-ms-fill-upper {
    background: #dcdcdc;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 5px;

    box-shadow: 0 0 1.1px rgba(0, 16, 0, 0), 0 0 0 rgba(0, 42, 0, 0);
  }

  .example__slider::-ms-thumb {
    width: 34px;
    height: 34px;
    margin-top: -1px;

    border: 1px solid #cfcfcf;
    border-radius: 50%;

    background-color: $color-bg-default;
    background-image: url("../img/decorative/slider-control.png");
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), 0 0 2px rgba(13, 13, 13, 0.15);

    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 2px 2px rgba(13, 13, 13, 0.15);
    }

    &:active {
      border: 1px solid #68b738;
    }
  }

  .example__slider:focus::-ms-fill-lower {
    background: #dcdcdc;
  }

  .example__slider:focus::-ms-fill-upper {
    background: #dcdcdc;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding: 0;
  }

  .example__wrap {
    display: flex;
    justify-content: center;

    background-color: $color-bg-gray;
  }

  .example__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    max-width: 650px;
    margin-bottom: 0;
    padding-left: 40px;
    padding-top: 72px;
    padding-right: 176px;

    box-sizing: border-box;
  }

  .example__header {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 76px;
    padding: 0 40px;
  }

  .example__eg {
    flex-direction: column;
    margin-bottom: 73px;
  }

  .example__description {
    width: 100%;
    margin-bottom: 67px;
  }

  .example__list {
    width: 84.5%;
    margin-bottom: 60px;
  }

  .example__item {
    &--days {
      padding-top: 15px;

      &::after {
        background-color: $color-bg-gray;
      }
    }

    &--weight {
      margin-right: 0;
      padding-top: 15px;
      padding-bottom: 19px;

      &::after {
        background-color: $color-bg-gray;
      }
    }
  }

  .example__cost {
    flex-direction: row;
    justify-content: space-between;
    width: 328px;
    margin-right: auto;
    padding-top: 0;
  }

  .example__text {
    margin-bottom: 0;
  }

  .example__cats {
    width: 50%;
    max-width: 650px;
    padding-top: 341px;

    background-color: $color-bg-gray;
  }

  .example__comparison {
    top: -183px;
    left: auto;
    right: 0;

    transform: translateX(-1%);
  }

  .example__picture--after {
    position: absolute;
    top: -3px;
    left: 50%;

    min-width: 545px;

    transform: translateX(-49%);
  }

  .example__toggle {
    justify-content: flex-start;
    margin: 0;
    padding-top: 3px;
    padding-left: 40px;
  }

  .example__button--before {
    margin-right: 10px;
  }

  .example__slider-wrapper {
    min-width: 443px;
  }

  .example__button--after {
    margin-left: 18px;
  }
}
