.form__btn {
  padding: 0 20px;
}

.form__button {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}

.form__description {
  margin-top: 21px;

  font-family: $font-default;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__submit {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    padding-left: 71px;
  }

  .form__btn {
    padding: 0;
  }

  .form__button {
    min-width: 283px;
    padding: 14px 0;
    padding-bottom: 15px;

    font-size: 20px;
  }

  .form__description {
    display: inline-block;
    min-width: 283px;
    margin: auto 0;

    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    padding: 0 40px;
  }

  .form__submit {
    padding: 0 40px;
  }

  .form__btn {
    width: 46.72%;
  }

  .form__button {
    padding: 15px 0;
    padding-bottom: 17px;
  }

  .form__description {
    width: 46.72%;
  }
}
