.gifts {
  margin-bottom: 35px;

  box-sizing: border-box;
}

.gifts__wrapper {
  width: 100%;
  padding-top: 187px;
  padding-bottom: 42px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $color-menu;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.gifts__description {
  position: relative;

  width: 62%;
  margin: 0 auto;
  padding: 0;

  font-family: $font-default;
  font-size: 16px;
  line-height: 20px;
  color: $color-bg-default;
  text-align: center;

  &::before {
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);

    width: 55px;
    height: 60px;

    content: "";
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    fill: $color-bg-default;
  }
}

@media (min-width: $tablet-width) {
  .gifts {
    width: 100%;
    margin-bottom: 76px;
  }

  .gifts__wrapper {
    padding-top: 72px;
    padding-bottom: 68px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .gifts__description {
    width: 170px;
    margin: 0;
    padding-left: 423px;

    text-align: left;

    &::before {
      position: absolute;
      top: 50%;
      left: 91px;
      transform: translateY(-60%);

      width: 55px;
      height: 60px;

      content: "";
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      fill: $color-bg-default;
    }
  }
}

@media (min-width: $desktop-width) {
  .gifts {
    min-width: 245px;
    width: 20.08%;
    margin: 0;
  }

  .gifts__wrapper {
    min-height: 289px;
    padding: 0;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .gifts__description {
    width: 170px;
    margin: 0 auto;
    padding: 0;
    padding-top: 187px;
    padding-bottom: 39px;

    text-align: center;

    &::before {
      position: absolute;
      top: 65px;
      left: 50%;
      content: "";

      width: 55px;
      height: 60px;

      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      fill: $color-bg-default;

      transform: translateX(-50%);
    }
  }
}
