.gifts {
  width: 280px;
  height: 289px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 190px;

  background-image: url("../img/280x289.png");
  background-repeat: no-repeat;

  box-sizing: border-box;
}

.gifts__description {
  position: relative;

  width: 62%;
  margin: 0 auto;
  padding: 0;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  &::before {
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);

    width: 55px;
    height: 60px;

    content: "";
    background-image: url("../img/55x60.png");
    background-repeat: no-repeat;
  }
}
