.header__wrap {
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;

  border-bottom: 1px solid $color-input;
}

.header__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__menu-button {
  width: 24px;
  height: 18px;
  align-self: center;

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;

  transition: 0.3s;

  &--hidden {
    display: none;
  }

  &--open {
    width: 18px;

    background-image: url("../img/icon-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 30px;
    padding-top: 24px;
  }

  .header__link {
    width: 173px;
  }


  .header__menu-button {
    display: none;
  }

  .header__wrapper {
    padding: 0;

    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .header__wrap {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 40px;
    padding-top: 54px;
  }

  .header__link {
    width: 202px;
  }

  .header__logo {
    width: 100%;
  }
}
