.main-nav {
  display: none;
  margin: 0;
  padding: 0;
}

.main-nav--show {
  display: block;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  text-align: center;

  border-bottom: 1px solid $color-input;
}

.main-nav__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 18px;

  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  box-sizing: border-box;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--active .main-nav__name {
  border-bottom: 1px solid $color-menu;
}

.main-nav__name {
  display: inline-block;
  margin: 0;
  padding-bottom: 5px;

  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: flex-start;
  }

  .main-nav__list {
    display: flex;
    align-items: center;
  }

  .main-nav__item {
    margin-right: 39px;
    padding: 0;

    border-bottom: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__link {
    padding: 0;

    font-size: 18px;
    line-height: 25px;
  }
}
