.modal__wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 34;
  transform: translateX(-50%);

  display: none;
  width: 160px;
  padding: 30px;

  background-color: $color-btn-all;

  &--show {
    display: block;
  }
}

.modal__button {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 18px;
  height: 18px;

  border: none;

  background: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
}
