.private {
  margin: 0;
  margin-bottom: 4px;
  padding: 14px 0;
}

.private__wrapper {
  padding: 0 20px;
}

.private__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}

.private__description {
  width: 81%;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .private {
    margin-bottom: 74px;
    padding: 0;
  }

  .private__wrapper {
    margin-bottom: 65px;
    padding: 0 30px;
  }

  .private__title {
    margin-bottom: 56px;
    padding-top: 27px;

    font-size: 60px;
  }

  .private__description {
    width: 347px;
    margin-left: 39px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .private {
    margin-bottom: 80px;
  }

  .private__wrapper {
    padding: 0 40px;
  }

  .private__title {
    padding-top: 22px;
  }

  .private__description {
    margin: 0;
  }
}
