.program {
  margin: 0;
  margin-bottom: 14px;
  padding: 0 20px;
}

.program__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.program__item {
  margin-bottom: 20px;
  padding-top: 29px;
  padding-left: 20px;
  padding-bottom: 22px;
  padding-right: 25px;

  background-color: $color-bg-gray;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 71px;

  font-size: 24px;
  font-weight: normal;
  line-height: 37px;

  text-transform: uppercase;
}

.program__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;

  font-family: $font-default;
  line-height: 18px;

  border-bottom: 1px solid $color-input;
}

.program__item--losing {
  position: relative;

  &::after {
    position: absolute;
    top: 21px;
    left: 23px;

    width: 50px;
    height: 50px;
    content: "";

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    position: absolute;
    top: 23px;
    left: 22px;
    content: "";

    width: 48px;
    height: 48px;

    border: 1px solid $color-icon-bg;
    border-radius: 50%;
    background-color: $color-icon-bg;
  }
}

.program__item--gathering {
  position: relative;

  &::after {
    position: absolute;
    top: 22px;
    left: 13px;

    width: 67px;
    height: 50px;
    content: "";

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    position: absolute;
    top: 23px;
    left: 22px;
    content: "";

    width: 48px;
    height: 47px;

    border: 1px solid $color-icon-bg;
    border-radius: 50%;
    background-color: $color-icon-bg;
  }
}

.program__link {
  position: relative;

  margin: 0;
  padding: 0;

  font-size: 16px;
  color: $color-font;

  text-transform: uppercase;
  text-decoration: none;

  &::after {
    position: absolute;
    top: 25%;
    right: -35px;

    width: 24px;
    height: 11px;
    content: "";

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

.program__link:hover::after {
  right: -46px;

  width: 32px;

  background-image: url("../img/icon-right-arrow-verylong.svg");
}

@media (min-width: $tablet-width) {
  .program {
    margin-bottom: 48px;
    padding: 0 30px;
  }

  .program__item {
    margin-bottom: 32px;
    padding-top: 76px;
    padding-left: 52px;
    padding-bottom: 57px;

    &--losing {
      position: relative;
      padding-right: 284px;

      &::after {
        position: absolute;
        top: 80px;
        left: 67.23%;
        content: "";

        width: 140px;
        height: 194px;

        background-image: url("../img/icon-cat-slim.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &::before {
        position: absolute;
        top: 90px;
        left: 63%;
        right: 62px;
        content: "";

        width: 198px;
        height: 198px;

        border: 1px solid $color-icon-bg;
        border-radius: 50%;
        background-color: $color-icon-bg;
      }
    }

    &--gathering {
      position: relative;

      padding-right: 313px;

      &::after {
        position: absolute;
        top: 135px;
        left: 58.19%;
        content: "";

        width: 268px;
        height: 112px;

        background-image: url("../img/icon-cat-pro.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &::before {
        position: absolute;
        top: 90px;
        left: 63%;
        content: "";

        width: 200px;
        height: 200px;

        border: 1px solid $color-icon-bg;
        border-radius: 50%;
        background-color: $color-icon-bg;
      }
    }
  }

  .program__subtitle {
    margin-bottom: 22px;
    padding: 0;

    font-size: 36px;
    line-height: 37px;
  }

  .program__description {
    width: 100%;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      right: -48px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program {
    margin-bottom: 73px;
    padding: 0 110px;
  }

  .program__list {
    display: flex;
    justify-content: space-between;
  }

  .program__item {
    width: 39.58%;
    min-width: 570px;
    margin-bottom: 0;
    padding: 0 52px;
    padding-top: 78px;
    padding-bottom: 60px;

    box-sizing: border-box;

    &--losing {
      &::after {
        position: absolute;
        top: 41px;
        left: 66px;
        content: "";

        width: 70px;
        height: 97px;

        background-image: url("../img/icon-cat-slim.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &::before {
        position: absolute;
        top: 47px;
        left: 52px;
        content: "";

        width: 98px;
        height: 98px;

        border: 1px solid $color-icon-bg;
        border-radius: 50%;
        background-color: $color-icon-bg;
      }
    }

    &--gathering {
      &::after {
        position: absolute;
        top: 69px;
        left: 34px;
        content: "";

        width: 134px;
        height: 56px;

        background-image: url("../img/icon-cat-pro.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &::before {
        position: absolute;
        top: 47px;
        left: 52px;
        content: "";

        width: 98px;
        height: 98px;

        border: 1px solid $color-icon-bg;
        border-radius: 50%;
        background-color: $color-icon-bg;
      }
    }
  }

  .program__subtitle {
    margin-bottom: 70px;
    padding-left: 164px;
  }

  .program__description {
    margin-bottom: 14px;
  }
}
