.promo__wrap {
  position: relative;

  padding-bottom: 22px;
}

.promo__wrapper {
  margin-bottom: 135px;
  padding-top: 27px;
  padding-bottom: 140px;

  background: url("../img/decorative/index-background-mobile@1x.jpg") $color-menu;
  background-size: 100%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/decorative/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  max-width: 483px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;

  font-size: 36px;
  font-weight: normal;
  color: $color-bg-default;
  line-height: 36px;
  text-align: center;
}

.promo__tagline {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  color: $color-bg-default;
  text-align: center;
  text-transform: uppercase;
}

.promo__picture {
  position: absolute;
  top: 167px;
  left: 50%;
  content: "";

  transform: translateX(-50%);
}

.promo__link {
  text-decoration: none;
}

.button {
  min-width: 280px;
  padding-top: 13px;
  padding-bottom: 11px;

  font-size: 16px;
  color: $color-bg-default;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border: none;
  background-color: $color-btn;

  transition: 0.3s;

  &:hover {
    background-color: $color-btn-hvr;
  }

  &:active {
    color: $color-btn-act;
  }
}

.button--small-font {
  padding: 11px 0;

  font-size: 14px;
  line-height: 18px;
}

.promo__button-wrapper {
  text-align: center;
}

.promo__button {
  display: inline-block;
  min-width: 280px;

  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .promo__wrap {
    padding: 0 30px;

    background-image: none;
  }

  .promo__wrapper {
    margin-bottom: 49px;
    padding-bottom: 0;
    padding-left: 88px;

    background: none;
  }

  .promo__title {
    width: 430px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 40px;

    font-size: 60px;
    color: $color-font;
    line-height: 60px;
    text-align: left;
  }

  .promo__tagline {
    margin-bottom: 10px;

    font-size: 20px;
    color: $color-font;
    line-height: 20px;
    text-align: left;
  }

  .promo__button-wrapper {
    padding-left: 89px;

    text-align: left;
  }

  .promo__button {
    margin-right: auto;
    margin-bottom: 529px;

    font-size: 20px;
  }

  .button {
    min-width: 245px;
    padding: 13px 0;

    box-sizing: border-box;
  }

  .button--small-font {
    padding: 17px 0;
  }

  .promo__picture {
    top: 227px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrap {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
    padding: 0;
  }

  .promo__bg {
    position: relative;

    width: 50%;
  }

  .promo__wrapper {
    width: 420px;
    margin-left: auto;
    margin-top: 56px;
    margin-bottom: 54px;
    padding: 0;
    padding-right: 111px;
  }

  .promo__button-wrapper {
    padding: 0;
    padding-right: 285px;

    text-align: right;
  }

  .promo__button {
    margin-bottom: 242px;
  }

  .promo__bg--img {
    position: absolute;
    right: 0;
    top: -169px;
    z-index: -2;
    content: "";

    width: 50%;
    min-height: 699px;

    background: url("../img/decorative/index-background-desktop@1x.jpg") $color-bg-green;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/decorative/index-background-desktop@2x.jpg");
    }
  }

  .promo__picture {
    position: absolute;
    top: -25px;
    left: auto;
    right: -668px;
    z-index: -1;
  }

  .button {
    padding: 16px 0;

    font-size: 20px;
    line-height: 20px;
  }
}
