.steps {
  margin: 0;
  padding: 0 20px;
  margin-bottom: 47px;
}

.steps__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}

.steps__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  counter-reset: myCounter;
}

.steps__item {
  position: relative;

  margin-bottom: 24px;
  padding-left: 80px;

  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.steps__number--hidden {
  display: none;
}

.steps__description {
  margin: 0;
  padding-top: 2px;

  font-family: $font-default;
  line-height: 18px;
}

.steps__br--hidden {
  display: none;
}

.steps__item--functional::before {
  position: absolute;
  left: 0;
  content: "";

  width: 60px;
  height: 60px;

  background-image: url("../img/advantage-leaf@1x.png");
  background-color: $color-icon-bg;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px 50px;
  }
}

.steps__item--powder::before {
  position: absolute;
  left: 0;
  content: "";

  width: 60px;
  height: 60px;

  background-image: url("../img/advantage-powder@1x.png");
  background-color: $color-icon-bg;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px 50px;
  }
}

.steps__item--change::before {
  position: absolute;
  left: 0;
  content: "";

  width: 60px;
  height: 60px;

  background-image: url("../img/advantage-dining@1x.png");
  background-color: $color-icon-bg;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px 50px;
  }
}

.steps__item--late::before {
  position: absolute;
  left: 0;
  content: "";

  width: 60px;
  height: 60px;

  background-image: url("../img/advantage-clock@1x.png");
  background-color: $color-icon-bg;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px 50px;
  }
}

@media (min-width: $tablet-width) {
  .steps {
    margin-bottom: 0;
    padding: 0 30px;
    padding-bottom: 49px;

    border-bottom: 1px solid $color-input;
  }

  .steps__title {
    margin-bottom: 72px;

    font-size: 60px;
  }

  .steps__list {
    flex-wrap: wrap;
  }

  .steps__item {
    position: relative;

    width: 45.76%;
    min-width: 324px;
    margin-bottom: 82px;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 111px;

    &:nth-child(3) {
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      top: -40px;
      left: 50%;
      z-index: -1;
      content: counter(myCounter);

      font-size: 281px;
      line-height: 281px;
      color: $color-btn-all;

      counter-increment: myCounter;
      transform: translateX(-37%);
    }
  }

  .steps__description {
    width: 77%;

    font-size: 16px;
    line-height: 24px;
  }

  .steps__br--hidden {
    display: block;
  }

  .steps__item--functional::before {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }

  .steps__item--powder::before {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }

  .steps__item--change::before {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }

  .steps__item--late::before {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }
}

@media (min-width: $desktop-width) {
  .steps {
    margin-bottom: 5px;
    padding: 0 40px;
    padding-bottom: 15px;

    border-bottom: none;
  }

  .steps__title {
    margin-bottom: 72px;
  }

  .steps__item {
    min-width: 245px;
    width: 20.08%;
    margin-bottom: 55px;

    &::after {
      position: absolute;
      top: -38px;
      left: 47%;

      transform: translateX(0);
    }
  }

  .steps__description {
    width: 100%;
  }
}
