$font-base: "Oswald", "Arial", "Helvetica", sans-serif;
$font-default: "Arial", "Helvetica", sans-serif;
$font-weight-regular: normal;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-menu: #68b738;
$color-font: #111111;
$color-btn: #68b738;
$color-btn-hvr: #5eaa2f;
$color-btn-act: rgba(255, 255, 255, 0.3);
$color-input: #e6e6e6;
$color-input-hvr: #cdcdcd;
$color-input-act: #444444;
$color-input-err: #ff8282;
$color-radio: #68b738;
$color-check-br: #d1d1d1;
$color-check-act: #bcbcbc;
$color-cont-fill: #222222;
$color-cont-act: #68b738;
$color-cont-err: #ff8282;
$color-social: #666666;
$color-social-act: #68b738;
$color-bg-gray: #f2f2f2;
$color-bg-default: #ffffff;
$color-header: #68b738;
$color-block-bb: #ededed;
$color-plus: #d3d3d3;
$color-btn-all: #f2f2f2;
$color-btn-all-act: #ebebeb;
$color-slider-mobile: #4caf50;
$color-icon-bg: #68b738;
